@font-face {
  font-family: 'AndleyFont';
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek UNICODE */
  src: local("Gentium Book Plus");
  }
@font-face {
  font-family: 'AndleyFont';
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew UNICODE */
  src: local("Ezra SIL");
  }

/* 標題 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'AndleyFont','Noto Sans Black', 'Noto Sans TC Black', sans-serif;
  }

