// ══════════════════════════════════════════
// 設定字型
@font-face {
  font-family: 'AndleyFont';
  unicode-range: U+0370-03FF, U+1F00-1FFF; /* Greek and Coptic, Greek Extended */
  /* 優先找本機字型，找不到就往後 fallback 到你網頁原本有引入的 Google Fonts 網路字型 */
  src: local("Gentium Book Plus"); 
}

/* 2. 定義 AndleyFont 的希伯來文範圍 */
@font-face {
  font-family: 'AndleyFont';
  unicode-range: U+0590-05FF, U+FB10-FB4F; /* Hebrew, Alphabetic Presentation Forms */
  src: local("Noto Serif Hebrew");
}

html, body, p, li {
    color: black;
    font-family: 'AndleyFont', sans-serif;
  }

  /* 標題 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'AndleyFont','Noto Sans Black', 'Noto Sans TC Black', sans-serif;
  }

